
<div class="container">

    <div class="page-header">
        <h1>
            Dashboard
            <small>akka clusters</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-lg-5">
            <table class="table table-striped table-hover">
                <thead>
                    <th>System</th>
                    <th>Address</th>
                    <th>Port</th>
                    <th>Roles</th>
                    <th>Heap (used)</th>
                    <th>CPU (%)</th>
                    <th>State</th>
                </thead>
                <tbody>
                    <tr ng-repeat="node in nodes" ng-class="{'danger' : node.state == 'unreachable'}" title="{{node.address}}">
                        <td>{{node.system}}</td>
                        <td>{{node.host}}</td>
                        <td>{{node.port}}</td>
                        <td>
                            <span ng-repeat="role in node.roles">{{role}} </span>
                        </td>
                        <td>{{node.heap}}</td>
                        <td>{{node.cpu}}</td>
                        <td>
                            <span title="{{node.state}}"
                                ng-class="{'glyphicon glyphicon-ok-sign': node.state == 'up', 'glyphicon glyphicon-question-sign': node.state == 'unreachable'}"></span>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <barchart class="col-lg-offset-1 col-lg-6" data="metrics">
        </barchart>

    </div>


</div>
